
{% extends "mainwebsite/layout.html" %}
{% block body%}




<div class="container">
	<div class="row">
		<div class="col-lg-12 col-md-12">
		<div class="card" style="display: block;margin: auto;margin-top: 20px;margin-bottom: 20px">
		   <h5 class="card-header info-color white-text" style="padding: 10px;text-align: left;">
			  <strong>All About This Campaign</strong>
			</h5>

			{% for campainslists in campainslists %}
			 <div class="card-body px-lg-5 pt-0" style="padding: 15px !important;">
			 	<div class="row">
				 	<div class="col-lg-8 col-md-12">
				 		<h5>About the Product/Service:</h5>
				 		<p>{{campainslists.about_campaign}}</p>
				 		<h5> Exact Requirement :</h5>
				 		<p>{{campainslists.exact_requirement}}</p>
				 		
				 	</div>
				 	<div class="col-lg-4 col-md-12" style="border-left: 2px dotted #c1c1c1 !important;">
				 		
				 		<h5>Platform : Youtube</h5>
				 		<h5>Budget :  ${{campainslists.project_budget}} </h5>
				 		<h5>Country : {{campainslists.campaign_country}} </h5>
						<a href="/creator-response/1/{{campainslists.id}}"><button class="btn" style="width: auto;float: left;">Accept</button></a>
						<a href="/creator-response/0/{{campainslists.id}}"><button class="btn" style="width: auto;float: left; background:red">Reject</button></a>

				 	</div>
			 	</div>

			 </div>
			 {% endfor %}

		</div>
	  </div>
	</div>
	</div>
</div>















{% endblock %}